language: java
jdk:
    - openjdk6
script: 'curl http://mirror.nexcess.net/apache/flex/4.9.1/binaries/apache-flex-sdk-4.9.1-bin.tar.gz > flex.tar.gz && tar -zxf flex.tar.gz && export FLEX_HOME=$HOME/apache-flex-sdk-4.9.1-bin && export PATH="$PATH:$FLEX_HOME/bin" && echo $PATH && ./flash-cli -d'
notifications:
  recipients:
    - dias.h.bruno@gmail.com
  email:
    on_success: change
    on_failure: always
